 @font-face {
    font-family: 'poppins';
    src: url('./fonts/Poppins-Regular.ttf') format('truetype');
 } 
 body{
    font-family: 'poppins', sans-serif;
    src: url('./fonts/Poppins-Regular.ttf') format('truetype');
    background-image: linear-gradient(45deg, #449938,#00ff66); 
    margin: 0;
    padding: 0;
    
 }

 div{
    background-color: rgb(0, 0, 0);
    width: 300px;
    padding: 30px;
    border-radius: 18px;
    filter: drop-shadow(3px 3px 3px #111);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 100px auto;    
    text-align: center; 
    font-size: 15px; color: rgb(93, 223, 33); 
    margin-top: 60px;
 }

 input[type="text"], input[type="password"] {
    width: 90%;
    padding: 12px;
    margin: 10px 0 20px 0;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    font-size: 12px; 
    
}

button, input[type="submit"] {
    background-color: #cecece;
    color: #000000;
    padding: 6px;
    width: 90%;
    border: 1px; color: rgb(0, 0, 0);
    border-radius: 20px;
    cursor: pointer;
    font-size: 15px;
}

p{
      color: #ffffff;
      font-size: 12px;
      margin-top: auto;

}

.logo{
      display: block;
      margin: 20px auto;
      width: 230px; height: auto;
      margin-top: 70px;
}

   footer{
         text-align: center; color:#000000;
         font-size: 12px;
         margin-top: 20px;
   }